# Python
__pycache__/
*.py[cod]
*.pyo
*.sqlite3

# Environments
.env
.env.*

# Virtual environment
.venv/


# Django
backend/media/
staticfiles/

# IDE
.idea/

# Project
notes/
frontend/partials/
*temp*.*

# Allowed examples
!.env.example
! *.html

