{% extends "base.html" %}

{% block title %}OpenChord - Profile{% endblock %}

{% block content %}

<!-- Profile section -->
<section class="content-section" aria-labelledby="profile-title">
  <h2 id="profile-title">Profil: {{ profile_user.username }}</h2>

  {% if profile_user.consumerprofile.avatar %}
    <p><img src="{{ profile_user.consumerprofile.avatar.url }}" alt="Avatar" style="max-width: 160px; height: auto;"></p>
  {% endif %}

  <p><strong>Email:</strong>
    <!-- .is_email_visible is for future upgrade   -->
    {% if profile_user.consumerprofile.is_email_visible or request.user == profile_user %}
      {{ profile_user.email }}
    {% else %}
      ukryty
    {% endif %}
  </p>

  {% if profile_user.consumerprofile.description %}
    <p>{{ profile_user.consumerprofile.description }}</p>
  {% endif %}

  {% if request.user == profile_user %}
    <nav class="navbar-bottom-row" aria-label="Edit profile navigation">
        <div> <!-- Placeholder for future profile editing page/ fake div to keep layout with form -->
            <a href="{% url 'apps.consumers_web:profile_edit' %}">Edit profile</a>
        </div>
        <form action="{% url 'apps.consumers_web:logout' %}" method="POST">
            {% csrf_token %}
            <a href="{% url 'apps.consumers_web:logout' %}" onclick="event.preventDefault(); this.closest('form').submit();">Logout</a>
        </form>
        
    </nav>
  {% endif %}
</section>

<!-- User collection section -->
{% if request.user == profile_user %}
    <section class="content-section" aria-labelledby="collection-title">
        <nav class="navbar-bottom-row" aria-label="Edit profile navigation">
                <a href="{% url 'apps.consumers_web:profile_edit' %}">Add playlist</a>
        </nav>
        <h2 id="collection-title">Collection</h2>
        <p>Placeholder for user collection form.</p>
        <p>Endpoint to create: <code>GET/POST /api/profile/collection/</code></p>
    </section>
{% endif %}

<!-- User playlists section -->
{% if request.user != profile_user %}
    <section class="content-section" aria-labelledby="playlists-title">
    <h2 id="playlists-title">Playlists created by {{ profile_user.username }}</h2>
    
        <div class="media-grid">
            {% for playlist in playlists %}
            <article class="media-card">
                <span class="meta">{{ playlist.created_at|date:"Y-m-d" }}</span>
                <strong>{{ playlist.name }}</strong>
            </article>
            {% empty %}
            <p class="muted">No playlists created yet.</p>
            {% endfor %}
        </div>
    </section>
{% endif %}
{% endblock %}

