{% extends "consumers/layout/base.html" %}

{% block title %}OpenChord - Login / Register{% endblock %}

{% block content %}
<section class="content-section" aria-labelledby="login-title">
    <div class="section-header">
        <h2 id="login-title">Login</h2>
        <h3>Soundtrack your day</h3>
    </div>
    <div>
        <form method="post" action="{% url 'apps.consumers_web:login' %}?next={% url 'apps.consumers_web:home' %}">
            {% csrf_token %}

            {% if login_form.non_field_errors %}
            <div class="panel">
                {{ login_form.non_field_errors }}
            </div>
            {% endif %}

            {{ login_form.as_p }}

            <div class="navbar-bottom-row">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</section>

<section class="content-section" aria-labelledby="register-title">
    <div class="section-header">
        <h2 id="register-title">Register</h2>
        <h3>Call the tune</h3>
    </div>

    <div>
        <form method="post" action="{% url 'apps.consumers_web:register' %}?next={% url 'apps.consumers_web:home' %}">
            {% csrf_token %}

            {% if register_form.non_field_errors %}
            <div class="panel">
                {{ register_form.non_field_errors }}
            </div>
            {% endif %}

            {{ register_form.as_p }}

            
            <div class="navbar-bottom-row">
                <button type="submit">Register</button>
            </div>
        </form>
    </div>

</section>
{% endblock %}
