{% extends "consumers/layout/base.html" %}
{% load static %}

{% block title %}OpenChord - Playlists{% endblock %}

{% block content %}

<!-- Playlist section -->
{% if request.user == profile_user %}
    <section class="content-section" aria-labelledby="user-playllists-title">
    <h1 id="user-playlists-title" >Your playlists</h1>
    <nav class="navbar-bottom-row" aria-label="Create playlist navigation">
        
        <a href="#new-playlist-form-container">New playlist</a>
        
    </nav>
    <hr class="solid">
    <div class="simple-list">
    {% for playlist in playlists %}
            <article class="list-row">
                <!-- Playlist icon placeholder - in future pls pic -->
                <img src="{% static 'images/logo_avatar.svg' %}" alt="Playlist icon" class="playlist-icon" style="max-width: 30px; height: auto;">
                <strong>{{ playlist.name }}</strong>
                
                <p>{{ playlist.items_count }} {{ playlist.items_count|pluralize:"song,songs" }}</p>
                <i>{{ playlist.is_public|yesno:"Public,Private" }}</i>
                <!--url 'apps.consumers_web:playlist-detail' playlist.id Edit /a> -->
                <a href="#">Edit</a>
                
                <!-- Delete button -->
                <a href="#"
                    class="delete-playlist-btn" 
                    data-playlist-id="{{ playlist.id }}" 
                    data-playlist-name="{{ playlist.name|escapejs }}">
                    Delete
                </a>
            </article>
            {% empty %}
            <p class="muted">No playlists created yet.</p>
            {% endfor %}
        </div>
    </section>
    <span class="meta">{{ playlist.created_at|date:"Y-m-d" }}</span>

{% endif %}

{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/pls_del.js' %}"></script>
{% endblock %}
